# DS 3000/CS 3200 Lab 1

Due: Tuesday May 13 in-class

### Submission Instructions
Upload this `ipynb` file to GitHub, and then to Gradescope.  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to GitHub and verify that the correct version is represented on Gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- [(See)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about/discuss** (*not* show or allow each other to copy your answers to) the problems.

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a **markdown** table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list in **markdown**
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

# Patrice Bergeron
![Image of PB](https://dims.apnews.com/dims4/default/f6fb2b2/2147483647/strip/true/crop/2336x1557+0+0/resize/599x399!/quality/90/?url=https%3A%2F%2Fassets.apnews.com%2Fa4%2F84%2Fe28219035d5b5beacf8933eb4889%2Fd79b6c29105e48a29392b0b38aa1cf0a)

## Stats from the last 3 years of his career
| Year | Games Played | Goals | Assists | Points |
| --- | --- | --- | --- | --- |
| 20-21 | 54 | 23 | 25 | 48 |
| 21-22 | 73 | 25 | 40 | 65 |
| 22-23 | 78 | 27 | 31 | 58 |

### Career Awards and Accomplishments
- 2011 Stanley Cup Champion
- 6x Selke Trophy Winner
- 1x King Clancy Trophy Winner
- 1x Mark Messier NHL Leadership Award Winner
- 1x NHL Foundation Player

Link for information: __[NHL.com](https://www.nhl.com/player/patrice-bergeron-8470638)__

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [1]:
# make sure to import numpy library
import numpy as np

In [2]:
array_a = np.array([[3, 42, -2, 3],
                    [0.5, -1, 6, 4],
                    [-5, 7, 0, 2]])

array_b = np.array([[42, 38, 34],
                    [30, 26, 22],
                    [18, 14, 10],
                    [6, 2, -2],
                    [-6, -10, -14]])

In [3]:
# uncomment below to print array_a
array_a

array([[ 3. , 42. , -2. ,  3. ],
       [ 0.5, -1. ,  6. ,  4. ],
       [-5. ,  7. ,  0. ,  2. ]])

In [4]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (*prove* and *show* you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [5]:
# 1
print("Array:  array_a")
print("Shape: ", array_a.shape)
print("Size:  ", array_a.size)
print("NDim:  ", array_a.ndim)
print("NBytes:", array_a.nbytes)

print()

print("Array:  array_b")
print("Shape: ", array_b.shape)
print("Size:  ", array_b.size)
print("NDim:  ", array_b.ndim)
print("NBytes:", array_b.nbytes)

Array:  array_a
Shape:  (3, 4)
Size:   12
NDim:   2
NBytes: 96

Array:  array_b
Shape:  (5, 3)
Size:   15
NDim:   2
NBytes: 120

In [6]:
# 2
# Create the 2 transposed variables
t_array_a = array_a.T
t_array_b = array_b.T

In [7]:
# Return transposed array a
t_array_a

array([[ 3. ,  0.5, -5. ],
       [42. , -1. ,  7. ],
       [-2. ,  6. ,  0. ],
       [ 3. ,  4. ,  2. ]])

In [8]:
# Return transposed array b
t_array_b

array([[ 42,  30,  18,   6,  -6],
       [ 38,  26,  14,   2, -10],
       [ 34,  22,  10,  -2, -14]])

In [9]:
# 3
# Add array a and transposed array b

# Commented out because it causes an error
# combined_arrays_1 = array_a + t_array_b

In [10]:
# Remove last column from t_array_b and try again
t_array_b = t_array_b[:,:-1]
combined_arrays_1 = array_a + t_array_b
combined_arrays_1

array([[45. , 72. , 16. ,  9. ],
       [38.5, 25. , 20. ,  6. ],
       [29. , 29. , 10. ,  0. ]])

## #3 - What Happened
The first time I attempted to add the arrays together, the arrays were different sizes. That is why it causes an error. After I removed a column, the arrays both became 4x3, and so each square could be added to its matching square in the other array.

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [11]:
# make sure to import pandas library
import pandas as pd

In [12]:
# Read in the data set
traindata = pd.read_csv('train_stations_europe.csv', index_col="id")
traindata.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [13]:
# Part 1
belgium_in_city = traindata.loc[(traindata.country == "BE") & (traindata.is_city), :]

belgium_in_city.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
5964,Antwerpen,51.221722,4.405860,NaN,BE,Europe/Brussels,True,False,False
5970,Blandain Ville,50.617431,3.263740,NaN,BE,Europe/Brussels,True,False,False
5974,Bruxelles,50.846520,4.351739,NaN,BE,Europe/Brussels,True,False,False
6003,Quevy Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False
6006,Sterpenich Ville,NaN,NaN,NaN,BE,Europe/Brussels,True,False,False

# Part 4: GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), fork it and then clone it to your local machine. Then:

- In the forked and cloned ds3000_summer25 repo, make a new branch (`git checkout -b lab-upload`)
- Create a folder with your name (as Dr. Gerber did)
- Navigate to that folder and place this jupyter notebook inside
- Add the file as the change to be committed (`git add .\Lab1_MyName.ipynb`)
- Check `git status`, your changes should be staged
- Commit the changes with a short message (`git commit -m "My message"`)
- Push the repository to GitHub (`git push origin lab-upload`)
- Navigate the the GitHub in the browser and create a pull request
- Once the pull request is merged, you can delete your branch in the "Pull Requests" tab in the browser
- Finally, upload the Lab to Gradescope. When you do so, it will give you the option to do it via GitHub; do that.