# DS 3000/CS 3200 Lab 1

Due: Tuesday May 13 in-class

### Submission Instructions
Upload this `ipynb` file to GitHub, and then to Gradescope.  To ensure that your submitted `ipynb` file represents your latest code, make sure to give a fresh `Kernel > Restart & Run All` just before uploading the `ipynb` file to GitHub and verify that the correct version is represented on Gradescope.

### Tips for success
- Collaborate: bounce ideas off of each other, if you are having trouble you can ask your classmates or Dr. Gerber for help with specific issues, however...
- [(See)](http://www.northeastern.edu/osccr/academic-integrity), i.e. you are welcome to **talk about/discuss** (*not* show or allow each other to copy your answers to) the problems.

# Part 1 (40 points): Intro to Markdown

Use the markdown language below to create your own brief wikipedia-esque description of a topic related to International Government and Politics. 

Your mini-wiki page must include:
- three headers: a title, subtitle and subsubtitle (the #, ##, ### syntax)
- an embedded image from a web address (use an [image hosting site](https://makeawebsitehub.com/free-photo-hosting/) if you'd like to upload your own)
- a **markdown** table of size at least 9 cells (i.e. 3 by 3, or 5 by 2)
- a list in **markdown**
- a link to another website

To practice typing in math mode, also include a LaTeX formula describing how your final grade is going to be calculated based on the syllabus, something like:

$$grade = weight_1*score_1 + weight_2*score_2$$

Please be **brief** in your text.  Aim for roughly 3 sentences total of text.

# North Atlantic Treaty Organization (NATO)
## By Anoushka Abroal
### What is NATO?
![alt text](https://cdn.britannica.com/50/160350-050-C2DBBF5E/Flag-North-Atlantic-Treaty-Organization.jpg "NATO Logo")
NATO is an organization consisting of allied members from various countries around the world. They utilize and exchange military services when other nations are under siege. There are currently 32 nations that are a part of NATO. 
These nations include: 
 - Belgium
 - Italy
 - Luxembourg

Here is a table of what year some of teh cuntries joined NATO: 
| Country | Year joining NATO |
|---------|-------------------|
| Belgium | 1949              |
| Spain   | 1982              |
| Poland  | 1999              |
| Estonia | 2004              |

To learn more, visit [Britannica's webpage on NATO.](https://www.britannica.com/topic/North-Atlantic-Treaty-Organization)

Final Grade calculation 
$$grade = 0.10*quizScore_1 + 0.10*quizScore_2 + 0.05*labScore_1 + 0.05*labScore_2 + 0.05*labScore_3 + 0.05*labScore_4 + 0.20*homeworkScore_1 + 0.30*homeworkScore_2$$

# Part 2: Numpy
## Part 2.1: Creating Arrays (10 points)

Create the following two arrays using the NumPy library and then print them out. Call the first array `array_a` and the second array `array_b` (make sure you keep the `import` statement below):

$$\mathbf{array_a} = \begin{bmatrix}3 & 8 & -2 & 3\\
.5 & -1 & 6 & 4\\
-5 & 7 & -42 & 2
\end{bmatrix}$$

$$\mathbf{array_b} = \begin{bmatrix}42 & 38 & 34\\
30 & 26 & 22\\
18 & 14 & 10\\
6 & 2 & -2\\
-6 & -10 & -14
\end{bmatrix}$$

In [1]:
# make sure to import numpy library
import numpy as np

In [2]:
array_a = np.array([[8, 2, -2, 3],
                    [.5, -1, 6, 4],
                    [-5, 7, -42, 2]])
array_b = np.array([[42, 38, 34],
                    [30, 26, 22],
                    [18, 14, 10],
                    [6, 2, -2],
                    [-6, -10, -14]])

In [3]:
# uncomment below to print array_a
array_a

array([[  8. ,   2. ,  -2. ,   3. ],
       [  0.5,  -1. ,   6. ,   4. ],
       [ -5. ,   7. , -42. ,   2. ]])

In [4]:
# uncomment below to print array_b
array_b

array([[ 42,  38,  34],
       [ 30,  26,  22],
       [ 18,  14,  10],
       [  6,   2,  -2],
       [ -6, -10, -14]])

## Part 2.2: Exploring Arrays (15 points)

1. Give the shape, size, ndim, and nbytes for each of the two arrays.
1. Take the transpose of both arrays. Call these `t_array_a` and `t_array_b`.
1. Try to add `array_a` and `t_array_b` (*prove* and *show* you did this with commented out code), then remove the last column of `t_array_b` and try to add them again. In a markdown cell, explain what happened.

In [5]:
# Shape of array_a
shape_a = array_a.shape
# Size of array_a
size_a = array_a.size 
# ndim of array_a
ndim_a = array_a.ndim
# nbytes of array_a
nbytes_a = array_a.nbytes
# Shape of array_b
shape_b = array_b.shape
# Size of array_b
size_b = array_b.size 
# ndim of array_b
ndim_b = array_b.ndim
# nbytes of array_b
nbytes_b = array_b.nbytes 

# transposing data 
t_array_a = array_a.T
t_array_b = array_b.T

# adding the transposed arrays together
# added = array_a + t_array_b

t_array_b = t_array_b[:, :4]

sum = array_a + t_array_b

answers = f'Shape of A: {shape_a}\nShape of B: {shape_b}\nSize of A: {size_a}\nSize of B: {size_b}\nNDIM of A: {ndim_a}\nNDIM of B: {ndim_b}\nNBYTES of A: {nbytes_a}\nNBytes of B: {nbytes_b}\n'

print(answers, sum)

Shape of A: (3, 4)
Shape of B: (5, 3)
Size of A: 12
Size of B: 15
NDIM of A: 2
NDIM of B: 2
NBYTES of A: 96
NBytes of B: 120
 [[ 50.   32.   16.    9. ]
 [ 38.5  25.   20.    6. ]
 [ 29.   29.  -32.    0. ]]

When the shapes of the arrays are different, operations such as addition cannot be completed. However, once t_array_b's shape was the same as array_a's shape, the addition worked. This happens because each number in one array needs to match to a number in the other array for the addition to work (two numbers needed for addition).

# Part 3: Pandas
## Part 3.1: Reading in Data (5 points)

On Canvas is the `train_stations_europe.csv` file. It was adapted from [this Kaggle data set](https://www.kaggle.com/datasets/headsortails/train-stations-in-europe). Read this data set in, using the `id` as the index column, and print the first few rows of the data. Make sure you keep the `import` statement below!

In [6]:
# make sure to import pandas library
import pandas as pd

In [7]:
#url = 'train_stations_europe.csv'
#train_stations_europe = pd.read_csv(url, encoding='unicode_escape')
train_stations_europe = pd.read_csv('train_stations_europe.csv', index_col='id')
train_stations_europe.head()

,name,latitude,longitude,parent_station_id,country,time_zone,is_city,is_main_station,is_airport
id,,,,,,,,,
1,Chateau-Arnoux-St-Auban,44.081790,6.001625,NaN,FR,Europe/Paris,True,False,False
2,Chateau-Arnoux-St-Auban,44.061565,5.997373,1.0,FR,Europe/Paris,False,True,False
3,Chateau-Arnoux Mairie,44.063863,6.011248,1.0,FR,Europe/Paris,False,False,False
4,Digne-les-Bains,44.350000,6.350000,NaN,FR,Europe/Paris,True,False,False
6,Digne-les-Bains,44.088710,6.222982,4.0,FR,Europe/Paris,False,True,False

## Part 3.2: Manipulating Data (20 points)

1. Create a subset of the data set which (a) **includes** only train stations in Belgium and (b) **excludes** all train stations which are **not** in a city. Make sure to save this subset as a new data frame and print the first few rows of the data.
1. Use the `.describe()` function to produce summary statistics for the subset from the previous part. Create a markdown cell and explain:
    - What Series did the `.describe()` function run on? What Series did it not run on? What is the difference, and what does this mean the `.describe()` function is used for?

In [8]:
#all in  belgium 
train_spec = train_stations_europe[train_stations_europe['country'] == "BE"]

#exclude non city
train_spec = train_spec[train_spec['is_city'] == True]
train_spec

#using .describe()
train_spec.describe()

        latitude  longitude  parent_station_id
count   9.000000   9.000000                0.0
mean   50.719715   4.810847                NaN
std     0.366820   0.996916                NaN
min    49.999779   3.263740                NaN
25%    50.617431   4.351739                NaN
50%    50.718089   4.444643                NaN
75%    50.979756   5.701847                NaN
max    51.221722   6.120155                NaN

.describe() ran on the latitude, longitude, and parent station id columns, and none of the other columns. It calculated the count, mean, standard
deviation, minimum, median, upper/lower quartiles, and the maximum of each series. So this must mean that describe only works on columns that have float or integer data types, since those are the only data types that can have those operations work (mean, median, mode, doesn't work on strings or booleans).

# Part 4: GitHub (10 points)

When you finish the first three parts, give one last restart and run all to this file. Then, go to the [DS 3000 GitHub](https://github.com/eaegerber/ds3000_summer25), fork it and then clone it to your local machine. Then:

- In the forked and cloned ds3000_summer25 repo, make a new branch (`git checkout -b lab-upload`)
- Create a folder with your name (as Dr. Gerber did)
- Navigate to that folder and place this jupyter notebook inside
- Add the file as the change to be committed (`git add .\Lab1_MyName.ipynb`)
- Check `git status`, your changes should be staged
- Commit the changes with a short message (`git commit -m "My message"`)
- Push the repository to GitHub (`git push origin lab-upload`)
- Navigate the the GitHub in the browser and create a pull request
- Once the pull request is merged, you can delete your branch in the "Pull Requests" tab in the browser
- Finally, upload the Lab to Gradescope. When you do so, it will give you the option to do it via GitHub; do that.